html, body {
    background-color: #E1E1E1;
}
.title {
    width: 800px;
    margin: 20px auto 0 auto;
    line-height: 50px;
}
.container {
    width: 800px;
    margin: auto;
    background-color: #FFF;
    border: solid 1px #CCC;
    border-radius: 5px;
    min-height: 500px;
}