<template>
    <style>

    </style>
    <div id="entryList"></div>
</template>
<script>
    (function() {
        // Creates an object based in the HTML Element prototype
        var element = Object.create(HTMLElement.prototype);
        // Gets content from <template>
        var template = document.currentScript.ownerDocument.querySelector('template').content;
        // Fires when an instance of the element is created
        element.createdCallback = function() {
            // Creates the shadow root
            var shadowRoot = this.createShadowRoot();
            // Adds a template clone into shadow root
            var clone = document.importNode(template, true);
            shadowRoot.appendChild(clone);

            function addEntry(data) {
                var entry = document.createElement('journal-entry');
                entry.setAttribute('date', data.date);
                var content = document.createTextNode(data.text);
                entry.appendChild(content);
                shadowRoot.getElementById('entryList').appendChild(entry);
            }

            requirejs(['./services/store.js'], function(store){
                var ls = store.getStore();
                if (ls.length !== 0) {
                    for (var i = 0; i < ls.length; i++) {
                        addEntry(ls[i]);
                    }
                }
                document.addEventListener('add-entry', function(event){
                    addEntry(event.detail.entry);
                    store.add(event.detail.entry);
                });
            });


        };
        document.registerElement('entry-list', {
            prototype: element
        });
    }());
</script>